.card-cliccabile{
  transition: border 0.3s ease, box-shadow 0.3s ease;
  border: 3px solid #badcf5;
}

.card {
  word-wrap: break-word; /* Permette la divisione delle parole lunghe */
  overflow-wrap: break-word; /* Supporta il wrapping per parole lunghe */
  white-space: normal; /* Permette al testo di andare a capo */
}

.card-cliccabile:hover,
.card-cliccabile:focus {
  border: 3px solid #2a8dd5;
  box-shadow: 0 0 10px #144466; /* Effetto ombra */
  cursor: pointer;
}

.card-cliccabile:active {
  border: 3px solid #144466; /* Bordo blu più scuro per effetto attivo */
}

.immagine{
  height: 200px;
  object-fit: cover;
  width: 100%;
}

.valutazione{
  background-color: rgba(0,0,0,0.6);
}

.bottone-circolare{
  width: 50px;
  height: 50px;
}

.categorie-popover{
  max-height: 205px;
  overflow-y: auto;
  overflow-x: hidden;
}

.badge-circolare{
  width: 25px;
  height: 25px;
}
