<div [hidden]="!user">
  <div class="card shadow-lg">
    <div class="card-body">
      <div class="row">
        <div class="col-md-4 text-center">
          <img [src]="immagineProfilo" alt="Immagine Profilo" class="img-fluid rounded-circle" style="width: 200px; height: 200px; object-fit: cover;">
        </div>
        <div class="col-md-8">
          <h4>
            {{ user.nome }}
            @if (!user.azienda)
            {
              {{user.personaCognome}}
            }
          </h4>

          <p><strong>Username:</strong> {{ user.username }}

            @if(user.premium)
            {
              <span class="badge bg-secondary"><i class="bi bi-star-fill"></i></span>
            }
          </p>

          <div [hidden]="!user.premium || user.azienda">

          </div>
          <p [hidden]="!user.azienda"><strong>Email:</strong> {{ user.email }}</p>
          <p><strong>Città:</strong> {{ user.citta }}</p>
          <p><strong>Followers:</strong> {{ loadedAmici ? numberAmici : '#' }}</p>

          <div [hidden]="!isMyProfile()">
            <button class="btn btn-primary" [routerLink]="['/search-users']">Cerca amici</button>
            <button class="btn btn-primary" [routerLink]="['/payments', user.id]">Mostra pagamenti</button>
          </div>
          <div [hidden]="isMyProfile()">
            <button [hidden]="isAlreadyFriends()" class="btn btn-primary" (click)="addFriend()">Segui</button>
            <button [hidden]="!isAlreadyFriends()" class="btn btn-danger" (click)="deleteFriend()">Segui già</button>
          </div>
        </div>
      </div>
      <hr>
      <h5>Amici</h5>
      <div class="row mb-4">
        <div class="col-12">
          <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-3 flex-nowrap" style="overflow-x: auto;">
            <div [hidden]="!loadedAmici">
              <!-- Loop sugli amici -->
              @for(friendship of this.friendships; track friendship.id)
              {
                <div class="col" style="display: inline-block; float: none;">
                  <app-card-friend [userId] = user.id [utenteAmico] = friendship class="h-50"></app-card-friend>
                </div>
              }
              <div [hidden]="loadedAmici" class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <h5>Eventi creati</h5>
        <div class="row mb-4">
          <div class="col-12">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-3 flex-nowrap" style="overflow-x: auto;">
              <div [hidden]="!loadedAmici">
                <!-- Loop sugli amici -->
                @for(event of this.createdEvents; track event)
                {
                  <div class="col" style="display: inline-block; float: none;">
                    <app-event-card [evento]="event"></app-event-card>
                  </div>
                }
                <div [hidden]="loadedAmici" class="spinner-grow text-primary" role="status">
                  <span class="visually-hidden">Loading...</span>
                </div>
              </div>
            </div>
          </div>
        <hr>
        <h5>Partecipazioni</h5>
          <div class="row mb-4">
            <div class="col-12">
              <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-3 flex-nowrap" style="overflow-x: auto;">
                <div [hidden]="!loadedAmici">
                  <!-- Loop sugli amici -->
                  @for(partecipation of this.partecipations; track partecipation.evento)
                  {
                    <div class="col" style="display: inline-block; float: none;">
                      <app-event-card [evento]="partecipation.evento"></app-event-card>
                    </div>
                  }
                  <div [hidden]="loadedAmici" class="spinner-grow text-primary" role="status">
                    <span class="visually-hidden">Loading...</span>
                  </div>
                </div>
              </div>
            </div>
        <hr>
      </div>
    </div>
  </div>

  <div [hidden]="user" class="spinner-grow text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
