.c-item{
  height: 480px;
}

.c-img{
  height: 100%;
  object-fit: cover;
  filter: brightness(0.4);
}

/* Posizionamento del contenitore principale */
.position-relative {
  position: relative;
  height: 100vh; /* Assicura che il carosello copra l'intero schermo */
}

/* App-header sopra il carosello */
app-header {
  z-index: 10; /* Porta l'header sopra le immagini */
}

/* Leggibilità del testo */
.carousel-caption {
  z-index: 5;
}

