<div id="homeCarousel" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#homeCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active c-item">
      <img src="img/home_party.jpg" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption text-start d-none d-md-block">
        <h1 class="fw-bolder">Trova i migliori eventi più vicini a te</h1>
        <p class="text-uppercase">Vivi, esplora, gioca!</p>
        <button class="btn btn-primary" routerLink="/events">Vedi eventi</button>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="img/home_friends.jpg" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption text-start d-none d-md-block">
        <h1 class="fw-bolder">Conosci persone con i tuoi stessi interessi</h1>
        <p class="text-uppercase">Con moVita, potrai farlo!</p>
        <button class="btn btn-primary">Vedi amici</button>
      </div>
    </div>
    <div class="carousel-item c-item">
      <img src="img/home_create.jpg" class="d-block w-100 c-img" alt="...">
      <div class="carousel-caption text-start  mt-4 d-none d-md-block">
        <h1 class="fw-bolder">Crea i tuoi eventi</h1>
        <p class="text-uppercase">In pochi passi, anche tu potrai creare il tuo evento!</p>
        <button class="btn btn-primary">Crea evento</button>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#homeCarousel" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#homeCarousel" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

<!-- codice di prova per aprire la pagina dettagli eventi -->
<a routerLink="/event-details">PAGINA DETTAGLI EVENTO</a>
