
.left-button {
  margin-right: -30px; /* Espande il bottone verso destra */
  z-index: 0 !important; /* Assicura che il bottone di sinistra sia sopra */
  padding-right: 40px !important;
}

.right-button {
  z-index: 1 !important;
}

.logout:hover {
  background-color: #d6c82b;
}
.login:hover{
  background-color: #2bd6c8;
}

.h-buttonoutline{
  border-style: none;
  outline: none; /* Rimuove l'effetto di focus predefinito */
  box-shadow: none; /* Rimuove eventuali ombreggiature */
}

.h-button{
  border-style: none;
  outline: none; /* Rimuove l'effetto di focus predefinito */
  color:white !important;
}

.underlined{
  border-bottom: 2px solid; /* Aggiunge solo la linea sotto */
}

