<header>
  <nav class="navbar navbar-light bg-dark">
    <div class="container">
      <div class="row align-items-center w-100">
        <!-- Logo -->
        <div class="col-6 col-md-4 text-start">
          <a class="navbar-brand text-white" routerLink="/">MoVita</a>
        </div>

        <!-- Menu al centro -->
        <div class="col-6 col-md-4 d-flex justify-content-center">
          <ul class="navbar-nav flex-row gap-3">
            <li class="nav-item">
              <button class="btn btn-outline-primary h-button" routerLink="/events">Partecipa</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-secondary h-button " routerLink="/search-users">Amici</button>
            </li>
            <li class="nav-item">
              <button class="btn btn-outline-primary h-button" routerLink="/create-event">Crea</button>
            </li>
          </ul>
        </div>


        @if(logged) {
          <div class="col-12 col-md-4 text-end button-container">
            <button class="btn btn-outline-warning h-button left-button logout" type="submit" (click)="openLogoutModal()">Logout</button>
            <button class="btn btn-primary h-button right-button" type="submit" (click)="goToMyProfile()">Vai al profilo</button>
          </div>
        } @else {
          <div class="col-12 col-md-4 text-end button-container">
            <button class="btn btn-outline-success h-button left-button login" type="submit" routerLink="login">Login</button>
            <button class="btn btn-primary h-button right-button" type="submit" routerLink="register">Registrati</button>
          </div>
        }
      </div>
    </div>
  </nav>
</header>
