.a{
  height: 100%;
}
.title{
  flex: 0 1 20px;
}

.row{
  display: flex;
  flex-flow: row nowrap ;
  height: 100% !important;
}

.event-card-container{
  display: flex;
  overflow-y: auto;
  flex-flow: row wrap;
  flex:1 1 auto;
}

