@if(isLoaded()){
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1 class="text-primary">Eventi Disponibili</h1>
      </div>
    </div>
    <div class="row mb-4">
      <app-event-filters>
      </app-event-filters>
    </div>
    <div class="row mb-4">
      <div class="col-12">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-3 flex-nowrap" style="overflow-x: auto; white-space: nowrap;">
          <!-- Loop sugli eventi -->
          @for(evento of this.eventi; track evento.id){
            <div class="col" style="display: inline-block; float: none;">
              <app-event-card [evento]="evento" class="h-100"></app-event-card>
            </div>
          }
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div>
          <app-map [eventi] ="this.eventi" class="w-100"></app-map>
        </div>
      </div>
    </div>
  </div>
}
