<div class="container">
  <h5>Pagamenti</h5>
  @if(isLoaded())
  {
    <div class="row mb-4">
      <div class="col-12">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xxl-4 g-3 flex-nowrap" style="overflow-x: auto; white-space: nowrap;">
          <!-- Loop sugli pagamenti -->
          @for(pagamento of this.payments; track pagamento.id)
          {
            <app-card-payment [pagamento] = pagamento></app-card-payment>
          }
        </div>
      </div>
    </div>
  }
</div>


