<div class="container py-4">
  <h5 class="mb-4 text-center text-uppercase text-primary">Pagamenti</h5>

  @if(isLoaded())
  {
    <div class="row">
      <div class="col-12">
        <div class="" style="gap: 1rem;">

          @for (pagamento of this.payments; track pagamento.id)
          {
            <app-card-payment [pagamento]="pagamento" class="flex-shrink-0" style="min-width: 250px;"></app-card-payment>
          }

        </div>
      </div>
    </div>
  }
  @else
  {
    <div>
      <p>Caricamento...</p>
    </div>
  }
</div>
