<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100" style="gap: 10px;">
  @if (tipo == 0) {
    <div class="d-flex justify-content-between align-items-center w-100 px-3" style="max-width: 300px;">
      <button type="button" class="btn-close ms-auto" aria-label="Close" (click)="goHome()"></button>
    </div>
    <div class="d-flex justify-content-between align-items-center w-100 px-3" style="max-width: 300px;">
      <h2 class="text-center m-0 flex-grow-1">Registrati come</h2>
    </div>
    <div class="btn-group mb-2" role="group" aria-label="Basic example" *ngIf="!tipo" style="gap: 5px;">
      <button type="button" class="btn btn-primary" style="width: 100px;" (click)="tipo = 1">Utente</button>
      <button type="button" class="btn btn-primary" style="width: 100px;" (click)="tipo = 2">Azienda</button>
    </div>
  } @else {
    <div class="d-flex justify-content-between align-items-center w-100 px-3" style="max-width: 300px;">
      <button type="button" class="btn-close ms-auto" aria-label="Close" (click)="tipo = 0"></button>
    </div>
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <form [formGroup]="applyForm" (ngSubmit)="tipo == 1 ? registerUser() : registerAgency()">
          <div class="mb-2">
            <label for="username" class="form-label">Username</label>
            <input id="username" type="text" class="form-control" formControlName="username">
          </div>

          <div class="mb-2">
            <label for="email" class="form-label">Email</label>
            <input id="email" type="email" class="form-control" formControlName="email">
          </div>

          <div class="row mb-2">
            <div class="col-6">
              <label for="password" class="form-label">Password</label>
              <input id="password" type="password" class="form-control" formControlName="password">
            </div>

            <div class="col-6">
              <label for="ripetiPassword" class="form-label">Ripeti Password</label>
              <input id="ripetiPassword" type="password" class="form-control" formControlName="ripetiPassword">
            </div>
          </div>

          <div *ngIf="tipo == 2">
            <div class="row mb-2">
              <div class="col-6">
                <label for="indirizzo" class="form-label">Indirizzo</label>
                <input id="indirizzo" type="text" class="form-control" formControlName="indirizzo">
              </div>

              <div class="col-6">
                <label for="recapito" class="form-label">Recapito</label>
                <input id="recapito" type="text" class="form-control" formControlName="recapito">
              </div>
            </div>

            <div class="mb-2">
              <label for="partitaIVA" class="form-label">Partita IVA</label>
              <input id="partitaIVA" type="text" class="form-control" formControlName="partitaIVA">
            </div>
          </div>

          <button type="submit" class="btn btn-primary w-100 mt-2" (click)="goHome()">Registrati</button>
        </form>
      </div>
    </div>
  }
</div>
