<a class="text-decoration-none">
  <div class="card h-100 rounded-4 card-cliccabile" (click)="navigaDettagliEvento(evento.id)">
    <div class="py-2 pt-2 pb-1 pb-3 card-body position-relative d-flex flex-column justify-content-between">
      <!-- Nome Creatore al Centro -->
      <div class="d-flex align-items-center justify-content-center">
        <img class="rounded-circle me-4" width="50" height="50" src="img/home_create.jpg" alt="img">
        @if(evento.creatore.premium){
          <a class="text-secondary h6"
             routerLink="/profile/{{evento.creatore.id}}"
             (click)="$event.stopPropagation()">
            {{ evento.creatore.username }} <span class="bi bi-star-fill text-secondary"></span>
          </a>
        } @else {
          <a class="text-secondary h6"
             routerLink="/profile/{{evento.creatore.id}}"
             (click)="$event.stopPropagation()">
            {{ evento.creatore.username }}
          </a>
        }
      </div>
      <hr class="mt-1 mb-2">

      <!-- Contenuto Card -->
      <div class="row mb-0">
        <!-- Immagine Evento a Sinistra -->
        <div class="col-7">
          <div class="position-relative">
            <img src="img/home_create.jpg" class="card-img rounded-4 immagine" alt="Immagine evento {{evento.nome}}">

            <!-- Valutazione -->
            <div class="valutazione position-absolute top-0 end-0 mx-2 my-2 p-2 rounded-4 shadow">
              <span class="bi bi-star-fill text-warning"></span>
              <span class="text-white"> {{ evento.valutazioneMedia }}</span>
            </div>

            @if(isLoaded() && categorie.length >0){
              <ng-template #categoriePopover>
                <div class="categorie-popover text-center">
                  <h5 class="text-primary text-center">Categorie interessate</h5>
                  <p class="text-primary text-center mb-1">{{evento.nome}}</p>
                  <div class="row row-cols-3">
                    @for(categoria of categorie; track categoria){
                      <div class="col">
                        <div>
                          <div class="bottone-circolare btn btn-secondary my-2 p-2 rounded-circle bi"
                               [class]="IconaCategoriaMapper.getIcon(categoria)"
                               data-toggle="tooltip" data-placement="top" title="{{categoria.nome}}">
                          </div>
                        </div>
                      </div>
                    }
                  </div>
                </div>
              </ng-template>

              <!-- Categorie -->
              <button type="button"
                      class="bottone-circolare btn btn-secondary position-absolute bottom-0 end-0 mx-4 mb-4 p-2 rounded-circle bi"
                      [class]="IconaCategoriaMapper.getIcon(categorie[0])"
                      [ngbPopover]="categoriePopover"
                      data-toggle="tooltip" data-placement="top"
                      title="{{categorie[0].nome}}"
                      (click)="$event.stopPropagation()">

                @if(categorie.length >1){
                  <span class="badge-circolare position-absolute top-0 start-100 ml-2 translate-middle badge rounded-circle bg-info d-flex align-items-center justify-content-center">
                    +{{categorie.length-1}}
                    <span class="visually-hidden">altre categorie</span>
                  </span>
                }
              </button>
            }
          </div>
        </div>

        <!-- Dettagli Evento a Destra -->
        <div class="col-5 d-flex align-items-center mb-0">
          <div class="mx-2">
            <h5 class="card-title text-primary">{{ evento.nome }}</h5>

            <!-- Data -->
            <div class="d-flex align-items-center mb-1">
              <span class="bi bi-calendar-fill me-2"></span>
              <time class="card-text">{{ evento.data }}</time>
            </div>

            <!-- Partecipanti -->
            <div class="d-flex align-items-center mb-1">
              <span class="bi bi-person-fill me-2"></span>
              <p class="card-text mb-0">{{ evento.numPartecipanti }} / {{ evento.maxNumPartecipanti }}</p>
            </div>

            <!-- Città e Indirizzo -->
            <div class="d-flex align-items-center mb-1">
              <span class="bi bi-geo-alt-fill me-2 text-secondary"></span>
              <address class="card-text text-secondary mb-0">{{ evento.citta }}, {{ evento.indirizzo }}</address>
            </div>

            <!-- Età minima -->
            <div class="d-flex justify-content-between">
              <div>
                @if(this.evento.etaMinima <= 0) {
                  <p class="card-text text-secondary fw-bold mb-0">Per tutti</p>
                } @else {
                  <p class="card-text text-secondary fw-bold mb-0">{{ evento.etaMinima }}+</p>
                }
              </div>

              <div>
                @if(this.evento.prezzo == 0) {
                  <p class="card-text text-secondary fw-bold mb-0">Gratis</p>
                } @else {
                  <p class="card-text text-secondary fw-bold mb-0">€{{ evento.prezzo }}</p>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
