$primary: #2a8dd5;
$secondary: #195580;
$success: #2bd6c8;
$info: #2b39d6;
$warning: #d6c82b;
$danger: #d6722b;

@import "../node_modules/bootstrap/scss/bootstrap";

.btn{
  border-radius: 30px !important;
}

.btn-primary{
  color:white !important;
}
.btn-primary:hover{
  color:white !important;
}

.btn-outline-success{
  color:white;
}

.btn-outline-success:hover{
  color:white;
}

.btn-success{
  color:white;
}

.btn-success:hover{
  color:white;
}

.btn-danger{
  color: white;
}
.btn-danger:hover{
  color:white;
}

.btn-warning{
  color: white;
}
.btn-warning:hover{
  color:white;
}

.bg-dark{
  color:black;
}



