@if (!isLoaded()) {
  <div class="mb-3">
    <label class="form-label">Caricamento...</label>
  </div>
} @else {
  <div class="container py-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
      <h2 class="mb-0">Impostazioni Profilo</h2>
    </div>
    @if (!user.azienda) {
      <form [formGroup]="personForm" (ngSubmit)="updatePerson()" class="row g-3" novalidate>
        <div class="col-md-4">
          <label for="personaNome" class="form-label">Nome</label>
          <input type="text" id="personaNome" class="form-control" formControlName="nome" [ngClass]="{'is-invalid': submitted && personForm.get('nome')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && personForm.get('nome')?.invalid">
            Inserisci un nome valido.
          </div>
        </div>

        <div class="col-md-4">
          <label for="personaCognome" class="form-label">Cognome</label>
          <input type="text" id="personaCognome" class="form-control" formControlName="personaCognome" [ngClass]="{'is-invalid': submitted && personForm.get('personaCognome')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && personForm.get('personaCognome')?.invalid">
            Inserisci un cognome valido.
          </div>
        </div>

        <div class="col-md-4">
          <label for="personaEmail" class="form-label">Email</label>
          <input type="text" id="personaEmail" class="form-control" formControlName="email" [ngClass]="{'is-invalid': submitted && personForm.get('email')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && personForm.get('email')?.invalid">
            Inserisci un'email valida.
          </div>
        </div>

        <div class="col-md-4">
          <label for="personaCitta" class="form-label">Città</label>
          <input type="text" id="personaCitta" class="form-control" formControlName="citta" [ngClass]="{'is-invalid': submitted && personForm.get('citta')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && personForm.get('citta')?.invalid">
            Inserisci una città valida.
          </div>
        </div>

        <div class="col-md-12">
          Reimposta password:
        </div>

        <div class="col-md-4">
          <label for="personaNuovaPassword" class="form-label">Nuova password</label>
          <input type="password" id="personaNuovaPassword" class="form-control" formControlName="nuovaPassword" [ngClass]="{'is-invalid': submitted && personForm.get('nuovaPassword')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && personForm.get('nuovaPassword')?.invalid">
            Inserire una password valida.
          </div>
        </div>

        <div class="col-md-4">
          <label for="personaRipetiNuovaPassword" class="form-label">Ripeti nuova password</label>
          <input type="password" id="personaRipetiNuovaPassword" class="form-control" formControlName="ripetiNuovaPassword" [ngClass]="{'is-invalid': submitted && personForm.get('ripetiNuovaPassword')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && personForm.get('ripetiNuovaPassword')?.invalid || personForm.hasError('passwordMismatch')">
            Le password non coincidono.
          </div>
        </div>

        <div class="col-md-4">
          <label for="personaImageUpload" class="form-label">Cambia immagine profilo</label>
          <input type="file" class="form-control form-control-lg" id="personaImageUpload" (change)="onImageUpload(personForm)"
                 accept="image/*">
          <div class="mt-3 d-flex flex-wrap">
            <div *ngIf="imagePreviews.length > 0" class="me-2">
              <img [src]="imagePreviews[0]" alt="Anteprima" class="img-thumbnail" style="width: 100px; height: 100px;">
              <button type="button" class="btn btn-sm btn-danger d-block mt-1" (click)="removeImage(personForm, 'personaImageUpload')">Rimuovi</button>
            </div>
          </div>
        </div>

        <div class="col-12 d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">Salva modifiche</button>
          <button type="button" class="btn btn-primary" [routerLink]="['/profile/', userId]">Torna al profilo</button>
        </div>
      </form>
    } @else {
      <form [formGroup]="agencyForm" (ngSubmit)="updateAgency()" class="row g-3" novalidate>
        <div class="col-md-4">
          <label for="aziendaNome" class="form-label">Nome</label>
          <input type="text" id="aziendaNome" class="form-control" formControlName="nome" [ngClass]="{'is-invalid': submitted && agencyForm.get('nome')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && agencyForm.get('nome')?.invalid">
            Inserisci un nome valido.
          </div>
        </div>

        <div class="col-md-4">
          <label for="aziendaEmail" class="form-label">Email</label>
          <input type="text" id="aziendaEmail" class="form-control" formControlName="email" [ngClass]="{'is-invalid': submitted && agencyForm.get('email')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && agencyForm.get('email')?.invalid">
            Inserisci un'email valida.
          </div>
        </div>

        <div class="col-md-4">
          <label for="aziendaCitta" class="form-label">Città</label>
          <input type="text" id="aziendaCitta" class="form-control" formControlName="citta" [ngClass]="{'is-invalid': submitted && agencyForm.get('citta')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && agencyForm.get('citta')?.invalid">
            Inserisci una città valida.
          </div>
        </div>

        <div class="col-md-4">
          <label for="aziendaIndirizzo" class="form-label">Indirizzo</label>
          <input type="text" id="aziendaIndirizzo" class="form-control" formControlName="aziendaIndirizzo" [ngClass]="{'is-invalid': submitted && agencyForm.get('aziendaIndirizzo')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && agencyForm.get('aziendaIndirizzo')?.invalid">
            Inserisci un indirizzo valido.
          </div>
        </div>

        <div class="col-md-4">
          <label for="aziendaRecapito" class="form-label">Recapito</label>
          <input type="text" id="aziendaRecapito" class="form-control" formControlName="aziendaRecapito" [ngClass]="{'is-invalid': submitted && agencyForm.get('aziendaRecapito')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && agencyForm.get('aziendaRecapito')?.invalid">
            Inserisci un recapito valido.
          </div>
        </div>

        <div class="col-md-4">
          <label for="aziendaPartitaIva" class="form-label">Partita Iva</label>
          <input type="text" id="aziendaPartitaIva" class="form-control" formControlName="aziendaPartitaIva" [ngClass]="{'is-invalid': submitted && agencyForm.get('aziendaPartitaIva')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && agencyForm.get('aziendaPartitaIva')?.invalid">
            Inserisci una partita IVA valida.
          </div>
        </div>

        <div class="col-md-12">
          Reimposta password:
        </div>

        <div class="col-md-4">
          <label for="aziendaNuovaPassword" class="form-label">Nuova password</label>
          <input type="password" id="aziendaNuovaPassword" class="form-control" formControlName="nuovaPassword" [ngClass]="{'is-invalid': submitted && agencyForm.get('nuovaPassword')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && agencyForm.get('nuovaPassword')?.invalid">
            Inserire una password valida.
          </div>
        </div>

        <div class="col-md-4">
          <label for="aziendaRipetiNuovaPassword" class="form-label">Ripeti nuova password</label>
          <input type="password" id="aziendaRipetiNuovaPassword" class="form-control" formControlName="ripetiNuovaPassword" [ngClass]="{'is-invalid': submitted && agencyForm.get('ripetiNuovaPassword')?.invalid}" (input)="submitted = false">
          <div class="invalid-feedback" *ngIf="submitted && agencyForm.get('ripetiNuovaPassword')?.invalid || agencyForm.hasError('passwordMismatch')">
            Le password non coincidono.
          </div>
        </div>

        <div class="col-md-4">
          <label for="aziendaImageUpload" class="form-label">Cambia immagine profilo</label>
          <input type="file" class="form-control form-control-lg" id="aziendaImageUpload" (change)="onImageUpload(agencyForm)"
                 accept="image/*">
          <div class="mt-3 d-flex flex-wrap">
            <div *ngIf="imagePreviews.length > 0" class="me-2">
              <img [src]="imagePreviews[0]" alt="Anteprima" class="img-thumbnail" style="width: 100px; height: 100px;">
              <button type="button" class="btn btn-sm btn-danger d-block mt-1" (click)="removeImage(agencyForm, 'aziendaImageUpload')">Rimuovi</button>
            </div>
          </div>
        </div>

        <div class="col-12 d-flex justify-content-between">
          <button type="submit" class="btn btn-primary">Salva modifiche</button>
          <button type="button" class="btn btn-primary" [routerLink]="['/profile/', userId]">Torna al profilo</button>
        </div>
      </form>
    }
  </div>
}
