<div *ngIf="!loaded" class="mb-3">
  <label class="form-label">Caricamento...</label>
</div>

<div *ngIf="loaded" class="container py-4">
  <h2 class="mb-4">Impostazioni Profilo</h2>
  <form [formGroup]="applyForm" (ngSubmit)="user.azienda ? updateAgency() : updatePerson()" class="row g-3">

    <div class="col-md-6">
      <label for="nome" class="form-label">Nome</label>
      <input type="text" id="nome" class="form-control" formControlName="nome" >
    </div>

    <div class="col-md-6" *ngIf="!user.azienda">
      <label for="personaCognome" class="form-label">Cognome</label>
      <input type="text" id="personaCognome" class="form-control" formControlName="personaCognome">
    </div>

    <div class="col-md-6">
      <label for="citta" class="form-label">Città</label>
      <input type="text" id="citta" class="form-control" formControlName="citta">
    </div>

    <div class="col-md-6" *ngIf="user.azienda">
      <label for="aziendaPartitaIva" class="form-label">Partita Iva</label>
      <input type="text" id="aziendaPartitaIva" class="form-control" formControlName="aziendaPartitaIva">
    </div>

    <div class="col-md-6" *ngIf="user.azienda">
      <label for="aziendaIndirizzo" class="form-label">Indirizzo</label>
      <input type="text" id="aziendaIndirizzo" class="form-control" formControlName="aziendaIndirizzo">
    </div>

    <div class="col-md-6" *ngIf="user.azienda">
      <label for="aziendaRecapito" class="form-label">Recapito</label>
      <input type="text" id="aziendaRecapito" class="form-control" formControlName="aziendaRecapito">
    </div>

    <div class="col-12">
      <button type="submit" class="btn btn-primary">Salva modifiche</button>
    </div>
  </form>
</div>
