<div class="container d-flex flex-column justify-content-center align-items-center min-vh-100" style="gap: 10px;">
  <img ngSrc="/img/background_login.jpg" alt="Background" class="background-img" height="667" width="1000">

  <div class="d-flex justify-content-between align-items-center" style="max-width: 200px;">
    <img ngSrc="/img/logo.png" width="50" height="50" alt="...">
    <img ngSrc="/img/moVita.png" width="150" height="50" alt="...">
  </div>

  <div class="card" style="width: 20rem; position: relative;">
    <button type="button" class="btn-close" aria-label="Close" [routerLink]="['/']"></button>

    <div class="card-body">
      <form [formGroup]="applyForm" (submit)="login()">
        <div class="mb-2">
          <label for="username" class="form-label">Username</label>
          <input id="username" type="text" class="form-control" formControlName="username" required [ngClass]="{'is-invalid': errorMessage}" (input)="clearError()">
        </div>

        <div class="mb-2 position-relative">
          <label for="password" class="form-label">Password</label>
          <input id="password" [type]="showPassword ? 'text' : 'password'" class="form-control" formControlName="password" required style="padding-right: 40px;" [ngClass]="{'is-invalid': errorMessage}" (input)="clearError()">

          @if (!errorMessage) {
            <button type="button" class="password-toggle" (click)="togglePasswordVisibility()">
              <i class="bi" [ngClass]="{'bi-eye': showPassword, 'bi-eye-slash': !showPassword}"></i>
            </button>
          }

          <div class="invalid-feedback" *ngIf="errorMessage">
            {{ errorMessage }}
          </div>
        </div>

        <button type="submit" class="btn btn-primary w-100 mt-2">Login</button>
      </form>

      <p class="text-center my-2">Oppure</p>

      <div id="google-signin-button"></div>
    </div>
  </div>
  <p class="text-center">
    Non sei ancora registrato?
    <a [routerLink]="['/register']">Clicca qui</a>
  </p>
</div>
