@if(isLoaded())
{
  <div class="card rounded-4 text-center">
    <img
      [routerLink]="['/profile', utenteAmico.id]"
      [src]="imagineProfile"
      alt="Card image"
      class="rounded-circle mx-4 mt-4 mb-0 d-block object-fit-cover"
      width="150"
      height="150"
    >
    <div class="card-body">
      <h5> {{utenteAmico.username}}</h5>
      <p>{{numeroFollowers}} followers</p>
      @if (!alreadyFollow)
      {
        <button type="button" class="btn btn-primary" (click)="addFriend()">Segui</button>
      }
      @else
      {
        <button type="button" class="btn btn-danger" (click)="deleteFriend()">Segui già</button>
      }
    </div>
  </div>
}
