@if(isLoaded())
{
  <div class="card text-center">
    <img
      [routerLink]="['/profile', utenteAmico.id]"
      src="imagineProfile"
      alt="Card image"
      class="img-fluid rounded-circle mx-auto d-block"
      width="150"
    >
    <div class="card-body">
      <h5> {{utenteAmico.username}}</h5>
      <p>{{numeroFollowers}} followers</p>
      @if (!alreadyFollow)
      {
        <button type="button" class="btn btn-primary" (click)="addFriend()">Segui</button>
      }
      @else
      {
        <button type="button" class="btn btn-danger" (click)="deleteFriend()">Segui già</button>
      }
    </div>
  </div>
}
