<main class="container">

    <div class="sticky-top content-area shadow border-0 rounded-4 bg-white row m-3 ">
        <section class="col-10   p-4">
            <h1>{{evento?.nome}}</h1>
        </section>
        <section class="col-2 p-3 d-flex justify-content-center  align-items-center">
            <button type="button" class="btn btn-lg btn-primary">Partecipa</button>
        </section>
    </div>

    <div class="row">
        <div class="col-md-8 p-0">
            <section class="shadow border-0 rounded-4 bg-white   p-3 m-3">
                <img src="https://placehold.co/50x50" class="img-fluid rounded-circle ">
                {{evento?.creatore?.username}}
            </section>

            <section class="shadow border-0 rounded-4 bg-white   p-3 m-3">
                <div class="container ">
                    <img src="img/home_create.jpg" class="img-fluid" alt="...">
                </div>
            </section>
        </div>

        <div class="col-md-4 mb-3 ">
            <section class="shadow rounded-4  p-3 mb-3">
                <ul class="bg-transparent rounded-4 bg-white list-group">
                    <li class="bg-transparent border-0 list-group-item">Data: {{evento?.data}}</li>
                    <li class="bg-transparent border-0 list-group-item">Indirizzo: {{evento?.indirizzo}}</li>
                    <li class="bg-transparent border-0 list-group-item">Citta: {{evento?.citta}}</li>
                    <li class="bg-transparent border-0 list-group-item"># Partecipanti: {{evento?.numPartecipanti}}</li>
                    <li class="bg-transparent border-0 list-group-item">Prezzo: {{evento?.prezzo}}</li>
                    <li class="bg-transparent border-0 list-group-item">Capienza: {{evento?.maxNumPartecipanti}}</li>
                    <li class="bg-transparent border-0 list-group-item">Eta minima: {{evento?.etaMinima}}</li>
                    <li class="bg-transparent border-0 list-group-item">Valutazione: {{evento?.prezzo}}</li>
                </ul>
            </section>
            <section class="  p-3">
                Mappa
                <img src="..." class=" img-thumbnail" alt="...">
            </section>
        </div>
    </div>
    <section class="row">
        <article class="shadow rounded-4  col-md-8 p-3 m-3">
            <h2>Descrizione</h2>
            <div class="  p-3 m-3">
                <p>{{evento?.descrizione}}</p>
            </div>
        </article>
    </section>
    <section class="row">
        <div class="shadow rounded-4 col-md-8 p-3 m-3">
            <h2>Partecipanti</h2>
            <div class="row">
                @for (item of partecipazioni; track item.utente.username) {
                <div class="col-md-2">
                    <app-card-utente [username]="item.utente.username"></app-card-utente>
                </div>
                } @empty {
                There are no items.
                }
            </div>
        </div>
    </section>
    <section>
        <div class="shadow rounded-4 col-md-8 p-3 m-3">
            <h2>Eventi Simili</h2>
            <div id="carouselExampleDark" class="carousel carousel-dark slide">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="row carousel-inner">

                    @for (item of eventiSimili; track item.nome) {
                    <!-- <div class="col-md-2">
                            <app-card-utente [username]="item.utente.username"></app-card-utente>
                        </div> -->
                    <div class="carousel-item active" >
                        <div class="card col-4" style="width: 18rem;">
                            <img src="..." class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{item.nome}}</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the
                                    card's content.</p>
                                <a href="#" class="btn btn-primary">Dettagli</a>
                            </div>
                        </div>
                    </div>
                    }
                    
                    


                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
                    data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section>
    <section class="row">
        <div class="shadow rounded-4 col-md-8 p-3 m-3">
            <h2>Recensioni </h2>
            <article>
                Riutilizzabile
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Minus nesciunt hic incidunt fugit sapiente
                    magni unde corrupti. Repellat nostrum minima placeat incidunt iusto repudiandae hic accusantium
                    asperiores, assumenda porro ipsam!</p>
            </article>
        </div>
    </section>

</main>