<div class="offcanvas-container">
  <div class="offcanvas-header bg-primary-subtle sticky-top">
    <!-- Contenitore per i bottoni fissati in alto a destra -->
    <div class="position-absolute top-0 end-0 m-3">
      <button type="button" class="btn btn-danger rounded-0" (click)="resetFilters()">Reset</button>
      <button type="submit" class="btn btn-success rounded-0" (click)="getEventsByFilter()">Applica</button>
    </div>

    <!-- Contenitore per il titolo e il riepilogo filtri centrati -->
    <div class="w-100 d-flex flex-column align-items-center">
      <h5 class="text-secondary mb-2">Filtri</h5>
      <p class="text-secondary mb-0">{{ filterSummary }}</p>
    </div>
  </div>

  <div class="offcanvas-body overflow-auto">
    <form [formGroup]="filterForm" (change)="updateFilterSummary()" (ngSubmit)="getEventsByFilter()">
      <div class="mb-3">
        <label for="nomeFiltro" class="form-label h6">Cerca per Nome</label>
        <input type="text" id="nomeFiltro" class="form-control" formControlName="nome" placeholder="Cerca per nome">
      </div>

      <div class="row">
        <div class="mb-3 col-6">
          <label for="creatoreFiltro" class="form-label h6">Cerca per Creatore</label>
          <input type="text" id="creatoreFiltro" class="form-control" formControlName="creatore" placeholder="Cerca per Creatore">
        </div>

        <div class="mb-3 col-6">
          <label for="cittaFiltro" class="form-label h6">Cerca per Città</label>
          <input type="text" id="cittaFiltro" class="form-control" formControlName="citta" placeholder="Cerca per città">
        </div>

      </div>

      <div class="row">
        <div class="mb-3 col-8">
          <label for="prezzoFiltro" class="form-label h6">Prezzo (max): {{ prezzoMax }}€</label>
          <input type="range" id="prezzoFiltro" class="form-range" min="0" max="1000" step="0.5" formControlName="prezzoMax">
        </div>

        <div class="mb-3 col-4">
          <label for="valutazioneFiltro" class="form-label h6">Valutazione Minima</label>
          <input type="range" id="valutazioneFiltro" class="form-range" min="0" max="5" step="0.5" formControlName="valutazioneMedia">
          <div class="d-flex justify-content-between">
            <span>0★</span>
            <span>5★</span>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="mb-3 col-10">
          <label for="etaMinimaFiltro" class="form-label h6">Età Minima</label>
          <input type="number" id="etaMinimaFiltro" class="form-control" formControlName="etaMinima" min="0" max="100">
        </div>

        <div class="mb-3 col-2">
          <label class="form-label mb-0 h6" for="metaPartecipantiFiltro">Eventi con ≥ 50% iscritti</label><br>
          <input type="checkbox" class="form-check-input h6" id="metaPartecipantiFiltro" formControlName="almenoMetaPartecipanti">
        </div>
      </div>

      <div class="mb-3">
        <label class="form-label h6">Categorie</label>
        <div class="row">
          <div class="col-2">
            <button type="button" class="btn btn-secondary" (click)="openCategoryFilterModal()">Scegli...</button>
          </div>
          <div class="col-10">
            @if(categorie.length == 0){
              <p>Nessuna categoria scelta.</p>
            }@else{
              <div class="row row-cols-auto">
                @for(categoria of categorie; track categoria) {
                  <div class="col">
                    <div class="mb-4">
                      <button class="cerchio btn btn-secondary rounded-circle bi" [class]="IconaCategoriaMapper.getIconById(categoria)"></button>
                    </div>
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
