<!-- Toast per il messaggio di successo -->
<div class="toast align-items-center text-white bg-success border-0 position-relative" role="alert" aria-live="assertive" aria-atomic="true" id="successToast">
  <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-2" data-bs-dismiss="toast" aria-label="Close"></button>

  <div class="d-flex flex-column">
    <div>
      <h5 class=" mt-2 toast-title text-center text-success-emphasis">
        Successo
      </h5>
    </div>

    <div class="toast-body text-center mt-1 mb-2">
      Operazione effettuata con successo.
    </div>
  </div>
</div>



<!-- Toast per il messaggio di errore -->
<div class="toast align-items-center text-white bg-danger border-0 position-relative" role="alert" aria-live="assertive" aria-atomic="true" id="errorToast">
  <button type="button" class="btn-close btn-close-white position-absolute top-0 end-0 m-2" data-bs-dismiss="toast" aria-label="Close"></button>

  <div class="d-flex flex-column">
    <div>
      <h5 class=" mt-2 toast-title text-center text-danger-emphasis">
        Errore
      </h5>
    </div>

    <div class="toast-body text-center m-0">
      <p class="m-0">Errore nell'esecuzione dell'operazione</p>
    </div>
  </div>
</div>
