<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title text-primary">Nuovo da queste parti?</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="row">
        <div class="col-12">
          @if(this.loaded) {
            <div class="row row-cols-2 row-cols-sm-2 row-cols-lg-3">
              @for(categoria of this.categorie; track categoria.id) {
                <div class="col">
                  <div class="mb-4 text-center">
                   <button class="bottone-circolare btn btn-primary rounded-circle bi fs-2" [class]="IconaCategoriaMapper.getIcon(categoria)" (click)="select(categoria)" [ngClass]="{'bottone_selezionato': isSelected(categoria), 'bottone_non_selezionato': !isSelected(categoria)}"></button>
                   <p class="mt-1 text-center">{{categoria.nome}}</p>
                  </div>
                </div>
              }
            </div>
          } @else {
            <div class="d-flex justify-content-center align-items-center">
              <div class="spinner-grow text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
              </div>
            </div>
          }
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="closeModal()">Close</button>
    <button type="button" class="btn btn-primary" (click)="insertUserCategories()">Save changes</button>
  </div>
</div>
